/* COLORS */
.admin-panel {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 480px) {
  .admin-navigation {
    width: 100%;
    margin: 0 auto; } }
@media (min-width: 481px) and (max-width: 1023px) {
  .admin-navigation {
    width: 250px;
    margin: 0 auto; } }
@media (min-width: 1024px) {
  .admin-navigation {
    width: 250px; } }

.admin-panel-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .admin-panel-menu__item {
    background: #0b4a77;
    border-left: 5px solid #1c5b88;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    width: 100%;
    box-sizing: border-box;
    margin: 1px 2px;
    flex-grow: 1;
    transition: background 0.5s, color 0.5s; }
    .admin-panel-menu__item:hover {
      background: #063252;
      color: #fff; }
    .admin-panel-menu__item--main {
      background: #131313;
      border-left: 5px solid #1c5b88;
      line-height: 40px; }
    .admin-panel-menu__item a {
      display: block; }

.admin-groups {
  margin: 0 auto; }
  @media (max-width: 480px) {
    .admin-groups {
      width: 100%; } }
  @media (min-width: 481px) and (max-width: 1023px) {
    .admin-groups {
      width: 400px; } }
  @media (min-width: 1024px) {
    .admin-groups {
      width: 400px; } }
  .admin-groups__colorpicker-box {
    position: relative;
    display: flex;
    align-items: center; }
    .admin-groups__colorpicker-box span {
      position: absolute;
      font-size: 15px;
      background: #0b4a77;
      padding: 2px 5px;
      margin: 0 10px; }

.admin-categories {
  margin: 0 auto; }
  @media (max-width: 480px) {
    .admin-categories {
      width: 100%; } }
  @media (min-width: 481px) and (max-width: 1023px) {
    .admin-categories {
      width: 400px; } }
  @media (min-width: 1024px) {
    .admin-categories {
      width: 600px; } }
  .admin-categories__item {
    display: flex;
    align-items: center;
    margin: 2px 0; }
    .admin-categories__item--heading {
      background: #0b4a77;
      padding: 10px 0;
      font-size: 13px;
      text-transform: uppercase;
      text-align: center; }
      .admin-categories__item--heading:first-child {
        margin: 0 1px 0 0; }
      .admin-categories__item--heading:last-child {
        margin: 0 0 0 1px; }
    .admin-categories__item-name {
      width: 200px;
      flex-grow: 2;
      margin: 0 1px 0 0; }
    .admin-categories__item-position {
      width: 100px;
      flex-grow: 1;
      margin: 0 0 0 1px; }
    .admin-categories__item-options {
      width: 100px;
      flex-grow: 1;
      margin: 0 0 0 2px; }

.admin-sections {
  margin: 0 auto; }
  @media (max-width: 480px) {
    .admin-sections {
      width: 100%; } }
  @media (min-width: 481px) and (max-width: 1023px) {
    .admin-sections {
      width: 400px; } }
  @media (min-width: 1024px) {
    .admin-sections {
      width: 600px; } }
  .admin-sections__item {
    display: flex;
    align-items: center;
    margin: 2px 0; }
    .admin-sections__item-name {
      width: 200px;
      flex-grow: 3;
      margin: 0 1px 0 0;
      background: #131313;
      line-height: 37px;
      border: 1px solid #1f1f1f;
      box-sizing: border-box;
      font-size: 16px;
      padding: 0 10px; }
    .admin-sections__item-position {
      width: 100px;
      flex-grow: 1;
      margin: 0 0 0 1px; }
    .admin-sections__item-options {
      width: 100px;
      flex-grow: 1;
      margin: 0 0 0 2px;
      display: flex;
      justify-content: center; }
    .admin-sections__item--heading {
      background: #0b4a77;
      padding: 10px 0;
      font-size: 13px;
      text-transform: uppercase;
      text-align: center;
      line-height: unset; }
      .admin-sections__item--heading:first-child {
        margin: 0 1px 0 0; }
      .admin-sections__item--heading:last-child {
        margin: 0 0 0 1px; }
    .admin-sections__item--subforum {
      border-top: 5px solid #1c5b88;
      background: #0b4a77;
      padding: 0 10px; }

@media (min-width: 1024px) {
  .admin-bans {
    width: 730px;
    margin: 0 0 0 20px; } }
.admin-bans__item {
  display: flex;
  margin: 2px 0; }
  .admin-bans__item-date {
    width: 100px;
    flex-grow: 1; }
  .admin-bans__item-login {
    width: 100px;
    flex-grow: 1; }
  .admin-bans__item-email {
    width: 100px;
    flex-grow: 1; }
  .admin-bans__item-ip {
    width: 100px;
    flex-grow: 1; }
  .admin-bans__item-options {
    width: 100px;
    flex-grow: 1; }
  .admin-bans__item--heading {
    background: #0b4a77;
    padding: 10px 0;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    line-height: unset;
    margin: 0 1px 0 0; }
    .admin-bans__item--heading:last-child {
      margin: 0; }
  .admin-bans__item--box {
    background: #131313;
    border: 1px solid #1f1f1f;
    margin: 0 1px 0 0;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px; }
    .admin-bans__item--box:last-child {
      margin: 0; }

.ban-preview {
  margin: 5px; }
  .ban-preview__heading {
    background: #0b4a77;
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 10px 0 0; }
  .ban-preview__box {
    background: #131313;
    border: 1px solid #1f1f1f;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 10px; }

@media (min-width: 1024px) {
  .admin-decorations {
    width: 730px;
    margin: 0 0 0 20px; } }
.admin-decorations__item {
  display: flex;
  margin: 2px 0; }
  .admin-decorations__item-img {
    width: 185px;
    flex-grow: 1; }
  .admin-decorations__item-name {
    width: 200px;
    flex-grow: 1; }
  .admin-decorations__item-description {
    width: 200px;
    flex-grow: 1; }
  .admin-decorations__item-options {
    width: 100px;
    flex-grow: 1; }
  .admin-decorations__item--heading {
    background: #0b4a77;
    padding: 10px 0;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    line-height: unset;
    margin: 0 1px 0 0; }
    .admin-decorations__item--heading:last-child {
      margin: 0; }
  .admin-decorations__item--box {
    background: #131313;
    border: 1px solid #1f1f1f;
    margin: 0 1px 0 0;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px; }
    .admin-decorations__item--box:last-child {
      margin: 0; }

/*# sourceMappingURL=admin_panel.css.map */
