/* COLORS */
.portal__heading {
  font-size: 35px;
  text-align: center;
  margin: 70px 0 20px;
  background: #131313;
  padding: 12px; }
  @media (max-width: 480px) {
    .portal__heading {
      font-size: 25px; } }
  .portal__heading span {
    background: #0b4a77;
    padding: 2px 10px; }
.portal__description {
  padding: 20px;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  line-height: 22px;
  text-align: justify;
  border-top: 5px solid #0b4a77;
  background: #131313; }
  @media (max-width: 480px) {
    .portal__description {
      font-size: 15px;
      margin: 10px; } }
  .portal__description a {
    background: #0b4a77;
    text-transform: uppercase;
    padding: 2px 5px;
    transition: background 0.5s; }
    .portal__description a:hover {
      background: none;
      text-decoration: underline; }

.portal-section {
  margin: 50px auto; }
  .portal-section__heading {
    font-size: 30px;
    border-left: 3px solid;
    padding: 0 10px;
    margin: 10px;
    text-transform: uppercase;
    width: 95%;
    box-sizing: border-box; }

.history__box {
  border-top: 1px solid #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  display: flex;
  flex-wrap: wrap; }
  .history__box:nth-child(2n+1) {
    flex-direction: row-reverse; }
  @media (max-width: 1023px) {
    .history__box {
      justify-content: center; } }
.history__img {
  max-width: 400px;
  flex-grow: 1; }
  .history__img img {
    display: block;
    width: 100%; }
.history__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  font-size: 16px;
  padding: 30px;
  width: 400px;
  flex-grow: 1; }

.movies {
  display: flex;
  flex-wrap: wrap; }
  .movies iframe {
    width: 400px;
    max-width: 500px;
    height: 300px;
    flex-grow: 1;
    margin: 10px;
    border-top: 5px solid #0b4a77;
    background: #131313;
    padding: 5px; }
    @media (max-width: 480px) {
      .movies iframe {
        margin: 10px; } }
    @media (min-width: 481px) and (max-width: 1023px) {
      .movies iframe {
        margin: 10px auto; } }
  .movies__caption {
    font-size: 15px;
    text-align: center;
    width: 100%;
    margin: 10px; }

.ad {
  display: flex;
  flex-wrap: wrap; }
  .ad__img {
    width: 400px;
    max-width: 500px;
    flex-grow: 1; }
    @media (max-width: 480px) {
      .ad__img {
        margin: 10px; } }
    @media (min-width: 481px) and (max-width: 1023px) {
      .ad__img {
        margin: 10px auto; } }
    .ad__img img {
      display: block;
      width: 100%; }
  .ad__text {
    width: 400px;
    flex-grow: 1;
    font-size: 16px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1023px) {
      .ad__text {
        margin: 10px 15px; } }
  .ad__buttons {
    width: 100%;
    display: flex;
    margin: 10px;
    justify-content: center; }
    .ad__buttons a {
      width: 200px;
      max-width: 300px;
      flex-grow: 1;
      margin: 10px;
      text-transform: uppercase; }

/*# sourceMappingURL=index.css.map */
