@import "mixins";

html, body {
    width: 100%;
    height: 100%;
    background: #0D0D0D;
    color: #c8c9c6;
    font: 18px 'Signika Negative', sans-serif;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    background: #131313;
}
::-webkit-scrollbar-thumb {
    background: $borderMain;
}
::-webkit-scrollbar-corner {
    background: #131313;
}

a {
    text-decoration: none;
    color: #c8c9c6;
}

/* WRAPPER */

.wrapper {
    @include mobile {
        width: 100%;
    }
    @include tablet {
        width: 100%;
    }
    @include desktop {
        width: 1000px;
        margin: 0 auto;
    }
}

/* ERRORS / CONFIRMATIONS */

.info-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    
    @include desktop {
        min-width: 400px;
    }

    &__item {
        color: #d2bcbb;
        padding: 5px 10px;
        font-size: 14px;
        text-align: center;
        margin: 2px 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0 0 10px $shadow;
        cursor: pointer;

        &--focus {
            display: none;
        }

        &--error {
            background: #2f0101;
            border: 1px solid #880202;
            border-left: 5px solid #880202;
        }

        &--confirmation {
            background: #012906;
            border: 1px solid #028000;
            border-left: 5px solid #028000;
        }
    }

    &__icon {
        font-size: 17px;
        margin: 0 5px 0 0;
    }

    &__ban {
        background: #2f0101;
        border: 1px solid #880202;
        color: #d2bcbb;
        font-size: 14px;
        padding: 5px 10px;
        margin: 10px 0;
        cursor: pointer;

        &-info {
            text-align: center;
            font-size: 16px;
        }

        &-message {
            margin: 10px 5px 0;
        }
    }
}

.information {
    background: #2f0101;
    border: 1px solid #880202;
    border-left: 5px solid #880202;
    padding: 10px 15px;
    font-size: 15px;
}


/* PAGINATION */

.pagination {
    display: flex;

    &__link {
        display: block;
        text-align: center;
        padding: 7px 15px;
        text-shadow: 0 0 5px $shadow;
        margin: 5px 2px;
        background: #0b4a77;
        border: 1px solid #1c5b88;
        color: #ddd;
        transition: background 0.5s, color 0.5s;
        font-size: 15px;

        @include mobile {
            width: 50%;
        }

        &--active {
            background: #063252;
            pointer-events: none;
        }

        &--active:hover {
            background: #0b4a77;
        }
    }

    &__link:last-child {
        margin: 5px 0 5px 2px;
    }

    &__link:first-child {
        margin: 5px 2px 5px 0;
    }

    &__linklink:hover {
        background: #063252;
        color: #fff;
    }
}

/* HEADINGS */

.big-heading {
    padding: 10px 20px;
    background: #0b4a77;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0;
    box-shadow: 0 0 15px $shadow;
    text-shadow: 0 0 5px $shadow;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 20px solid #0b4a77;
        border-right: 20px solid transparent;
        position: absolute;
        top: 40px;
        left: 0;
    }
}

.left-border-heading {
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0;
    border-left: 5px solid #0b4a77;
    box-sizing: border-box;
    width: 100%;
}

/* FORMS */

.form {
    &__heading {
        background: #0b4a77;
        padding: 10px 15px;
        font-size: 13px;
        text-transform: uppercase;
        margin: 10px 0 0;
    }

    &__input {
        width: 100%;
        background: #131313;
        border: 1px solid $borderMain;
        color: #aaa;
        padding: 10px;
        font: 14px 'Lato', sans-serif;
        resize: vertical;
        box-sizing: border-box;
        transition: background 0.5s, border 0.5s;
        outline: none;
        display: block;

        &:focus {
            background: $borderMain;
        }

        &--vertical {
            margin: 2px 0;
        }

        &--select {
            cursor: pointer;
        }

        &--textarea {
            border: none;
            border-top: 5px solid $borderMain;
            height: 200px;
            word-wrap: break-word;
            line-height: 18px;

            &:focus {
                border-top: 5px solid #0b4a77;
                background: #131313;
            }
        }

        &--multiple {
            height: 200px;
        }

        &--checkbox {
            visibility: hidden;
        }

        &--colorpicker {
            border: 1px solid #131313;
            padding: 0;
            margin: 0;
            width: 100%;
            box-sizing: border-box;
            height: 40px;
            cursor: pointer;
            outline: none;

            &::-webkit-color-swatch-wrapper, &::-webkit-color-swatch {
                padding: 0;
                border: none;
            }
        }

        &--date {
            height: auto;
            resize: unset;
        }

        &--error {
            border: 1px solid #880202;
        }
    }

    &__label-box {
        height: 40px;
        background: #131313;
        margin: 3px 0;
        display: flex;
        align-items: center;
        padding: 0 10px;

        &--nobg {
            background: none;
            padding: 0;
        }

        span {
            font-size: 14px;
            text-transform: uppercase;
            margin: 0 10px 0 0;
        }

        &-radio {
            margin: 0 10px 0 0;
        }

        &-checkbox {
            cursor: pointer;
        }

        &-label {
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            font-size: 14px;
            background: #1f1f1f;
            margin: 0 5px;
            padding: 5px 10px;
            transition: background 0.5s;

            &:hover {
                background: #063252;
            }

            &--checkbox {
                background: #131313;
                border: 1px solid #1f1f1f;
                margin: 0;
                flex-direction: row;
            }
        }
    }

    &__prompt-label {
        position: relative;
        display: flex;
        flex-direction: column;

        .tooltip {
            position: absolute;
            top: 9px;
            right: 9px;
            border: 1px solid #1f1f1f;
            background: #0d0d0d;
            padding: 3px 9px;
            font-size: 14px;
            cursor: pointer;
        }

        .label-error-msg {
            color: #880202;
            text-transform: uppercase;
            font-size: 12px;
            margin: 0 0 5px;
        }
    }

    &__button {
        padding: 7px 10px;
        text-shadow: 0 0 5px $shadow;
        display: inline-block;
        margin: 5px 2px;
        background: #0b4a77;
        border: 1px solid #1c5b88;
        color: #ddd;
        cursor: pointer;
        transition: background 0.5s, border 0.5s;
        font: 15px 'Signika Negative', sans-serif;
        text-align: center;

        &-checkbox {
            margin: 0 3px;
            width: 15px;
            height: 14px;
            position: relative;
            top: 2px;
            cursor: pointer;
        }

        &--first {
            margin: 5px 2px 5px 0;
        }

        &--center {
            width: 100%;
            box-sizing: border-box;
            margin: 2px 0;
        }

        &--bigger {
            padding: 7px 35px;
            text-transform: uppercase;
            font-size: 14px;
        }

        &:hover {
            background: #063252;
            color: #fff;
        }
    }
}

.checkbox-panel {
    display: flex;

    &__checkbox {
        width: 28px;
        height: 28px;
        position: relative;
        background: #1f1f1f;
        margin: 10px;

        label {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 4px;
            left: 4px;
            cursor: pointer;
            background: #131313;
            box-shadow: inset 0 0 10px #131313;

            &:after {
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0px;
                left: 0px;
                background: #0b4a77;
                background: linear-gradient(top, #0b4a77 0%, #063252 100%);
                box-shadow: inset 0 0 2px #000;
                opacity: 0;
                transition: opacity 0.5s;
            }

            &:hover::after {
                opacity: 0.4;
            }
        }

        .form__input--checkbox:checked + label:after {
            opacity: 1;
        }
    }

    &__description {
        font-size: 14px;
        margin: 15px 0;

        a {
            background-image: -webkit-linear-gradient(top,transparent 0,#0b4a77 0);
            background-position: 0 16px;
            background-repeat: no-repeat;
            padding: 0 2px;
            transition: all .1s ease-out;

            &:hover {
                background-position: 0;
                color: #fff;
            }
        }
    }
}

/* BUTTONS */

.button {
    display: inline-block;
    text-align: center;
    padding: 7px 15px;
    text-shadow: 0 0 5px $shadow;
    margin: 5px 2px;
    background: #0b4a77;
    border: 1px solid #1c5b88;
    color: #ddd;
    transition: background 0.5s, color 0.5s;
    font-size: 15px;

    &--first-in-row {
        margin: 5px 2px 5px 0;
    }

    &--last-in-row {
        margin: 5px 0 5px 2px;
    }

    &--closed {
        background: #2f0101;
        border: 1px solid #880202;
        pointer-events: none;
    }

    &--center {
        width: 100%;
        box-sizing: border-box;
        margin: 2px 0;
    }

    &:hover {
        background: #063252;
        color: #fff;
    }
}

/* MAIN MENU */


/* BBCODE MENU */

.bbcode {
    display: flex;
    flex-wrap: wrap;
    
    @include mobile {
        width: 100%;
    }
    @include tablet {
        width: 100%;
    }
    @include desktop {
        width: 1000px;
        margin: 0 auto;
    }

    &__item {
        display: block;
        background: #0b4a77;
        border: 1px solid #1c5b88;
        margin: 3px 1px;
        padding: 0 10px;
        line-height: 27px;
        font-size: 14px;
        box-sizing: border-box;
        transition: background 0.5s, color 0.5s;
    }

    &__item:first-child {
        margin: 3px 1px 3px 0;
    }

    &__item:hover {
        background: #063252;
        color: #fff;
    }

    &__input {
        padding: 0;
        display: block;
        background: #0b4a77;
        border: 1px solid #1c5b88;
        margin: 3px 1px;
        line-height: 27px;
        font-size: 14px;
        box-sizing: border-box;
        display: flex;
    }

    &__button {
        border: none;
        cursor: pointer;
        background: #0b4a77;
        color: #ddd;
        padding: 6px 10px;
        transition: background 0.5s, color 0.5s;
    }
    
    &__button:hover {
        background: #063252;
        color: #fff;
    }

    &__colorpicker {
        border: none;
        margin: 0;
        padding: 0;
        width: 28px;
        height: 27px;
        cursor: pointer;
    }

    &__colorpicker::-webkit-color-swatch-wrapper, &__colorpicker::-webkit-color-swatch {
        padding: 0;
        border: none;
    }

    &__font-size {
        background: #0b4a77;
        border: none;
        color: #ddd;
        text-align: center;
        width: 40px;
    }
}

/* USER STATUS */

.user-status {
    width: 15px;
    height: 15px;
    box-shadow: inset 0 0 5px $shadow;
    margin: 0 5px 0 0;

    &--online {
        background: $online;
    }

    &--offline {
        background: $offline;
    }
}