/* file to import  */
@import "_components/mixins";

// GLOBAL
@import "_components/header";
@import "_components/nav";
@import "_components/footer";
@import "_components/informations";
@import "_components/pagination";
@import "_components/buttons";
@import "_components/headings";

// COMPONENTS
@import "_components/forms";
@import "_components/bbcodemenu";

// INDEX.PHP
@import "_components/portal";

// FORUM.PHP
@import "_components/news_panel";
@import "_components/land_switcher";

// LOGIN/REGISTER.PHP
@import "_components/log_reg";

// PROFILE.PHP
@import "_components/profile";

// KP.PHP
@import "_components/kp/kp";
@import "_components/kp/kp_stats";
@import "_components/kp/kp_jutsu";
@import "_components/kp/kp_skills";
@import "_components/kp/kp_items";
@import "_components/kp/kp_summary";
@import "_components/kp/kp_notes";

// VIEWTOPIC.PHP
@import "_components/viewtopic";

// VIEWSECTION.PHP
@import "_components/viewsection";

// ADMIN_PANEL.PHP
@import "_components/admin_panel";

// POST.PHP
@import "_components/post";

// CONTACT.PHP
@import "_components/contact";

// FORUM.PHP
@import "_components/forum";
@import "_components/chatbox";
@import "_components/last_posts";

// MAPS.PHP
@import "_components/maps";

// PROMOTION.PHP
@import "_components/promotion";

// USERLIST.PHP
@import "_components/userlist";




html, body {
    width: 100%;
    height: 100%;
    background: #0D0D0D;
    color: #c8c9c6;
    font: 18px 'Signika Negative', sans-serif;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    background: #131313;
}
::-webkit-scrollbar-thumb {
    background: $mainBorderColor;
}
::-webkit-scrollbar-corner {
    background: #131313;
}

a {
    text-decoration: none;
    color: #c8c9c6;
}

/* WRAPPER */

.wrapper {
    @include mobile {
        width: 100%;
    }
    @include tablet {
        width: 100%;
    }
    @include desktop {
        width: 1000px;
        margin: 0 auto;
    }
}

/* USER STATUS */

.user-status {
    width: 15px;
    height: 15px;
    box-shadow: inset 0 0 5px #000;
    margin: 0 5px 0 0;

    &--online {
        background: $onlineColor;
    }

    &--offline {
        background: $offlineColor;
    }
}
