/* COLORS */
.viewtopic-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .viewtopic-info__buttons {
    display: flex; }
    @media (max-width: 480px) {
      .viewtopic-info__buttons {
        width: 100%; } }

.post {
  margin: 10px 0 30px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 480px) {
    .post {
      flex-direction: column; } }
  .post-left {
    display: flex;
    flex-direction: column;
    width: 185px; }
    @media (max-width: 480px) {
      .post-left {
        width: 100%; } }
    .post-left__author {
      background: #1f1f1f;
      text-transform: uppercase;
      text-align: center;
      padding: 9px;
      font-size: 15px;
      transition: background 0.5s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .post-left__author:hover {
        background: #063252; }
    .post-left__avatar {
      border-bottom: 5px solid #1f1f1f;
      background: #0D0D0D;
      box-sizing: border-box;
      margin: 0 0 5px; }
      @media (max-width: 480px) {
        .post-left__avatar {
          display: none; } }
      .post-left__avatar img {
        display: block;
        width: 100%; }
    .post-left__rang {
      padding: 0 10px;
      text-align: center;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 33px;
      background: #131313;
      border: 1px solid #1f1f1f;
      margin: 2px 0; }
  .post-right {
    border-bottom: 1px solid #1f1f1f;
    background: #131313;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 100%; }
    @media (max-width: 480px) {
      .post-right {
        width: 100%; } }
    .post-right__info {
      background: #1f1f1f;
      text-align: right;
      padding: 10px;
      font-size: 14px;
      transition: background 0.5s, color 0.5s; }
      .post-right__info:hover {
        background: #063252;
        color: #fff; }
    .post-right__img {
      position: relative;
      border-bottom: 5px solid #1f1f1f; }
      .post-right__img img {
        display: block;
        width: 100%; }
      .post-right__img:before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(img/news-shadow-big.png) repeat-x left bottom;
        opacity: .8;
        transition: all .3s ease-in-out; }
    .post-right__contents {
      font-family: 'Lato', sans-serif;
      padding: 20px;
      font-size: 15px;
      word-wrap: break-word;
      line-height: 18px; }
      .post-right__contents img {
        max-width: 100%; }
      .post-right__contents-edited {
        font-size: 11px;
        color: #555;
        margin: 15px 10px 0;
        text-align: right; }
        .post-right__contents-edited-icon {
          margin: 0 5px 0 0;
          font-size: 13px; }
      .post-right__contents--hide {
        background: #1f1f1f; }
        .post-right__contents--hide-header {
          color: #7b7b7b;
          margin: 0 0 10px; }
      .post-right__contents a {
        background-image: -webkit-linear-gradient(top, transparent 0, #0b4a77 0);
        background-position: 0 16px;
        background-repeat: no-repeat;
        padding: 0 2px;
        transition: all .1s ease-out; }
        .post-right__contents a:hover {
          background-position: 0;
          color: #fff; }
    .post-right__options {
      background: #1f1f1f;
      text-align: right;
      border-top: 1px solid #131313; }
      .post-right__options-link {
        padding: 9px 15px;
        display: inline-block;
        font-size: 13px;
        text-transform: uppercase;
        transition: background 0.5s, color 0.5s; }
        .post-right__options-link:hover {
          background: #063252;
          color: #fff; }
  .post-center {
    width: 100%;
    border-bottom: 1px solid #1f1f1f;
    background: #131313;
    display: flex;
    flex-direction: column; }
    @media (max-width: 480px) {
      .post-center {
        margin: 0; } }

/* POST FORMATS */
/* TABLE */
table {
  text-align: center;
  font-size: 15px;
  margin: 15px;
  font-family: 'Signika Negative', sans-serif;
  box-shadow: 0 0 5px #0d0d0d; }

td {
  background: #1f1f1f;
  padding: 10px 20px;
  border: 1px solid #0d0d0d;
  vertical-align: middle; }

.table-header {
  background: #0b4a77;
  text-transform: uppercase;
  vertical-align: middle; }

/* BBCODE FORMAT */
.strong {
  font-weight: bold; }

.italic {
  font-style: italic; }

.wysrodkowanie {
  text-align: center; }

.do_prawej {
  text-align: right; }

.akapit {
  text-indent: 25px; }

.jutsu {
  background: #1c74b2;
  color: #fff;
  padding: 1px 3px;
  text-transform: uppercase; }

.katon {
  background: #ff0000; }

.suiton {
  background: #00a1ff; }

.raiton {
  background: #efff00;
  color: #000; }

.doton {
  background: #4a2002; }

.futon {
  background: #05935f; }

pre {
  background: rgba(0, 0, 0, 0.11);
  padding: 10px;
  border: 1px solid #191919; }

blockquote {
  background: #0d0d0d;
  padding: 15px;
  border: 1px solid #1f1f1f;
  border-left: 5px solid #1f1f1f;
  margin: 10px 0; }

cite {
  word-wrap: break-word;
  display: block;
  margin: 0 0 10px;
  color: #545454;
  font-size: 13px; }

.blockquote-cite {
  font-size: 25px; }

/*# sourceMappingURL=viewtopic.css.map */
