.button {
    display: inline-block;
    text-align: center;
    padding: 7px 15px;
    text-shadow: 0 0 5px #000;
    margin: 5px 2px;
    background: #0b4a77;
    border: 1px solid #1c5b88;
    color: #ddd;
    transition: background 0.5s, color 0.5s;
    font-size: 15px;

    &--first-in-row {
        margin: 5px 2px 5px 0;
    }

    &--last-in-row {
        margin: 5px 0 5px 2px;
    }

    &--closed {
        background: #2f0101;
        border: 1px solid #880202;
        pointer-events: none;
    }

    &--center {
        width: 100%;
        box-sizing: border-box;
        margin: 2px 0;
    }

    &:hover {
        background: #063252;
        color: #fff;
    }
}
