.forum {
    padding: 0 0 30px;
	@include mobile {
		width: 100%;
	}
	@include tablet {
		width: 100%;
	}
	@include desktop {
		width: 1000px;
		margin: 0 auto;
	}
}

.category {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include mobile {
        justify-content: center;
    }
    @include tablet {
        justify-content: center;
    }
    @include desktop {
        justify-content: space-between;
    }

    &__name {
        width: 100%;
        font-size: 20px;
        font-family: 'Titillium Web', sans-serif;
        padding: 0 15px;
        text-shadow: 0 0 5px #000;
        line-height: 27px;
        margin: 40px 0 10px 10px;
        display: flex;
        align-items: center;

        @include mobile {
            justify-content: center;
        }
        @include tablet {
            justify-content: center;
        }
        @include desktop {
            border-left: 5px solid #1f1f1f;
        }

        img {
            height: 40px;
            margin: 0 10px;
        }
    }
}

.section {

    &-forum {
        width: 315px;
        height: 145px;
        box-shadow: 0 0 15px #000;
        border: 1px solid #1f1f1f;
        border-top: 5px solid #1f1f1f;
        box-sizing: border-box;
        margin: 10px 0;
        transition: border 0.5s;

        @include tablet {
            margin: 10px;
        }

        &:hover {
        	border-top: 5px solid #0b4a77;
        }

        &__link {
            display: flex;
            height: 100px;
            text-transform: uppercase;
            opacity: 0.7;
            transition: opacity 0.5s;
            font-family: 'Bangers', sans-serif;
            font-size: 28px;
            letter-spacing: 3px;
            color: #ffffff;
            align-items: center;
            justify-content: center;
            text-shadow: 0 0 20px #000;

            &:hover {
                opacity: 1;
            }
        }

        &__last-post {
            display: block;
            border-top: 1px solid #1f1f1f;
            background: #131313;
            box-sizing: border-box;
            height: 39px;
            font: 12px 'Signika Negative', sans-serif;
            transition: background 0.5s, color 0.5s;
            overflow: auto;

            &:hover {
                background: #063252;
                color: #fff;
            }

            span {
                display: flex;
                align-items: center;
                padding: 6px 5px 0 5px;
            }

            &--none {
                box-sizing: border-box;
                width: 100%;
                height: 39px;
                font: 12px 'Signika Negative', sans-serif;
                display: flex;
                align-items: center;
                padding: 5px;
                border-top: 1px solid #1f1f1f;
                background: #131313;
            }
        }
    }

    &-land {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0;
        flex-wrap: wrap;
        @include mobile {
            flex-direction: column;
        }

        &__left {
            height: 200px;
            border: 1px solid #1f1f1f;
            border-top: 5px solid #1f1f1f;
            box-sizing: border-box;
            opacity: 0.7;
            transition: opacity 0.5s, border 0.5s;

            @include mobile {
                width: 320px;
                margin: 5px auto;
                box-sizing: border-box;
            }
            @include tablet {
                width: 200px;
                flex-grow: 1;
                margin: 5px;
            }
            @include desktop {
                width: 320px;
            }

            &:hover {
                opacity: 1.0;
                border-top: 5px solid #063252;
            }

            &:hover span {
                background: #063252;
                color: #fff;
            }
        }

        &__center {
            display: flex;
            flex-direction: column;

            @include tablet {
                width: 200px;
                flex-grow: 5;
                margin: 5px;
            }
        }

        &__right {
            @include mobile {
                width: 320px;
                margin: 5px auto;
                box-sizing: border-box;
            }
            @include tablet {
                width: 150px;
                flex-grow: 1;
                margin: 5px;
                max-height: 200px;
                overflow: auto;
            }
            @include desktop {
                width: 200px;
                max-height: 200px;
                overflow: auto;
            }

            &::-webkit-scrollbar {
                background: #131313;
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #1f1f1f;
            }

            &::-webkit-scrollbar-corner {
                background: #131313;
            }
        }

        &__name {
            display: flex;
            align-items: flex-end;
            height: 100%;

            span {
                background: rgba(19, 19, 19, 0.60);
                width: 100%;
                height: 35px;
                line-height: 35px;
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                border-top: 1px solid #1f1f1f;
                transition: color 0.5s, background 0.5s;
                color: #fff;
            }
        }

        &__description {
            overflow: auto;
            font-family: 'Lato', sans-serif;
            font-size: 13px;
            border: 1px solid #1f1f1f;
            background: #131313;
            padding: 10px;
            box-sizing: border-box;

            @include mobile {
                width: 320px;
                margin: 5px auto;
                box-sizing: border-box;
            }
            @include tablet {
                margin: 0 5px;
                height: 155px;
            }
            @include desktop {
                width: 450px;
                height: 155px;
            }

            &::-webkit-scrollbar {
                background: #131313;
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #1f1f1f;
            }

            &::-webkit-scrollbar-corner {
                background: #131313;
            }
        }

        &__last-post {
            height: 40px;
            overflow: auto;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            line-height: 13px;
            border: 1px solid #1f1f1f;
            background: #131313;
            padding: 5px;
            box-sizing: border-box;
            transition: background 0.5s, border 0.5s, color 0.5s;

            @include mobile {
                width: 320px;
                margin: 5px auto;
                box-sizing: border-box;
            }
            @include tablet {
                margin: 5px 5px 0;
            }
            @include desktop {
                width: 450px;
                margin: 5px 0 0;
            }

            &:hover {
                background: #063252;
                color: #fff;
                border: 1px solid #1c5b88;
            }
        }

        &__links {
            display: block;
            width: 100%;
            border: 1px solid #1f1f1f;
            background: #131313;
            transition: background 0.5s, border 0.5s, color 0.5s;
            margin: 1px 0;
            font-size: 12px;
            padding: 8px 10px;
            box-sizing: border-box;
            text-transform: uppercase;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &--subsection {
                background: #1f1f1f;
            }

            &:hover {
                background: #063252;
                color: #fff;
                border: 1px solid #1c5b88;
            }
        }
    }
}

/* LAST POSTS */
.last-posts {
    background: #101010;

    &__box {
        display: flex;
        flex-direction: column;
        padding: 10px 0 30px;
    }

    &__item {
        display: flex;
        font-size: 15px;
        margin: 1px 0;
    }

    &__date {
        background: #0b4a77;
        text-align: center;
        border: 1px solid #1f1f1f;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            width: 200px;
        }
        @include desktop {
            width: 200px;
        }
    }

    &__link {
        display: block;
        background: #131313;
        border: 1px solid #1f1f1f;
        padding: 10px;
        width: 100%;
        transition: background 0.5s, color 0.5s;

        &:hover {
            background: #0b4a77;
            color: #fff;
        }
    }
}
