@mixin mobile {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 481px) and (max-width: 1023px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 1024px) {
		@content;
	}
}

@mixin mobileTablet {
    @media (max-width: 1023px) {
        @content;
    }
}

/* COLORS */

$onlineColor: #009027;
$offlineColor: #690000;

$mainBorderColor: #1f1f1f;

$mainBackgroundColor: #0D0D0D;
$mainFontColor: #c8c9c6;

$grayBoxColor: #131313;

$buttonBackgroundColor: #0b4a77;
$buttonBackgroundColor-hover: #063252;
$buttonBorderColor: #1c5b88;
